.nav-parent {
    display: flex;
    justify-content: space-around;
    height: 60px;
    border: 2px solid black;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
    font-size: 18px;
    font-weight: bolder;
}

.w-15 {
    width: 15%;
}

.w-45 {
    width: 45%;
}

.w-20 {
    width: 20%;
}

.nav-parent p {
    cursor: pointer;
}